p А, вот ты где, #{username}, а я тебя повсюду ищу. Тебе просили кое-что передать лично в руки. Так, посмотрим...
p Перейдите по ссылке, чтобы подтвердить адрес электронной почты:
a(href=``+url) #{url}
